<% layout('./layout/boilerplate') -%>

<div class="main_container">
   <div class="Add_product_container">
    <h1>Welcome to the Product Submission Page</h1>
    <div class="alert_add_product">
        <p>1. Fill out the form below to submit a new product.</p>
        <p>2. Note: You can either provide a filename or a URL for the product image.</p>
        <p>3. Make sure to fill in all required fields.</p>
    </div>
    <hr>
    <form id="productForm" action="/add_product" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" minlength="5" maxlength="40" id="name" name="name" placeholder="Enter Product Name" required />
      </div>

      <div class="form-group">
        <label for="url">Image URL</label>
        <input type="file" id="url" placeholder="Upload image" name="image[url]" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" minlength="10" name="description" placeholder="Enter Product Deatils Here" rows="4" maxlength="500" required></textarea>
      </div>

      <div class="form-group">
        <label for="add_product_catagory">Product Catagory</label>
        <select name="add_product_catagory"  id="add_product_catagory">
          <option value="kitchen">Kitchen</option>
          <option value="medicines">Medicines</option>
          <option value="clothes">Clothes</option>
          <option value="gym">GYM</option>
          <option value="mobiles">Mobiles</option>
          <option value="sounds">Sounds</option>
          <option value="jewelleries">Jewelleries</option>
          <option value="shoes">Shoes</option>
          <option value="watches">Watches</option>
          <option value="games">Games</option>
        </select>
      </div>

      <div class="form-group">
        <label for="price">Price ($)</label>
        <input id="price" type="number" min="1" max="50000" placeholder="Enter Product Price" name="price" step="0.01" required />
      </div>

      <button type="submit">Submit Product</button>
    </form>
  </div>
</div>
