<nav class="navbar_2">
  <div class="container_2">
    <div class="icons">
      <i class="fa-solid fa-circle-user"></i>
      <p>Account</p>
    </div>
    <div class="icons">
      <i class="fa-solid fa-cart-shopping"></i>
      <p>Cart</p>
    </div>
    <div class="icons">
      <i class="fa-solid fa-layer-group"></i>
      <p>Other</p>
    </div>
    <div class="icons">
      <i class="fa-regular fa-heart"></i>
      <p>Wishlist</p>
    </div>
    <div class="icons">
      <i class="fa-solid fa-box"></i>
      <p>Orders</p>
    </div>
  </div>
</nav>