<nav class="navbar_2">
  <div class="container_2">
    <a href="/">
      <div class="icons">
        <i class="fa-solid fa-house"></i>
        <p>Home</p>
      </div>
    </a>
    <a href="/working">
      <div class="icons">
        <i class="fa-solid fa-circle-user"></i>
        <p>Account</p>
      </div>
    </a>
    <a href="/buy">
      <div class="icons">
        <i class="fa-solid fa-cart-shopping"></i>
        <p>Cart</p>
      </div>
    </a>
    <a href="/working">
      <div class="icons">
        <i class="fa-regular fa-heart"></i>
        <p>Wishlist</p>
      </div>
    </a>
    <a href="/order">
      <div class="icons">
        <i class="fa-solid fa-box"></i>
        <p>Order</p>
      </div>
    </a>
  </div>
</nav>
