<% if(success && success.length){ %>
<div class="notification" id="guacamole-notification">
  <div>
    <strong><%= success %></strong>
  </div>
  <i
    class="fa-solid fa-circle-xmark close_btn"
    onclick="dismissNotification()"
  ></i>
</div>
<% } %>

<% if(error && error.length){ %>
<div class="notification notification_error" id="guacamole-notification">
  <div>
    <strong><%= error %></strong>
  </div>
  <i
    class="fa-solid fa-circle-xmark close_btn notification_error_btn"
    onclick="dismissNotification()"
  ></i>
</div>
<% } %>
