<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notification</title>
    <style>
      .notification {
        /* background-color: #63cfa4; */
        background-color: rgb(228, 102, 102);
        /* color: #0f5132; */
        color: rgb(110, 17, 17);
        padding: 1.5rem 2rem 1.5rem 2rem;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, sans-serif;
        width: fit-content;
        margin: 20px auto;
        border: 1px solid #badbcc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -200px;
        z-index: 999;
        transition: all 0.3s ease-out;
      }

      .notification strong {
        font-weight: bold;
      }

      .close-btn {
        background: none;
        border: none;
        font-size: 1.5rem;
        /* color: #0f5132; */
        cursor: pointer;
        /* margin-left: 20px; */
        width: 35px;
        height: 35px;
        border-radius: 25px;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .close_btn {
        /* color: #179c5e; */
        color: rgb(182, 19, 19);
        transition: 0.5s;
        margin-left: 10px;
      }
      .close_btn:hover {
        /* color: #0f5132; */
        color: rgb(110, 17, 17);
      }
    </style>
  </head>
  <body>
    <div class="notification" id="guacamole-notification">
      <div>
        <strong
          >Holy guacamole! You should check in on some of those fields
          below.</strong
        >
      </div>
      <i
        class="fa-solid fa-circle-xmark close_btn"
        onclick="dismissNotification()"
      ></i>
    </div>

    <script>
      function dismissNotification() {
        const note = document.getElementById("guacamole-notification");
        note.style.display = "none";
      }
      document.querySelector(".noti").addEventListener("click", () => {
        let a = document.querySelector(".notification");
        console.dir(a);
        a.style.top = "20px";
      });
    </script>
  </body>
</html>
