* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f4f4;
}

.place_order{
  text-decoration: none;
}


  .delivery-options{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.8rem;
    border-radius: 25px;
    height: fit-content;
    border: 1px solid #05010136;
    background-color: rgba(128, 128, 128, 0.055);

    & .delivery-option{
      padding: 0px;
      margin: 0px;
      margin-right: 18px;
    }
  }

/* navbar */

.logo {
  font-size: 2rem !important;
}

.navbar {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #007bff;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* bottom navbar */

.navbar_2 {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999;
  font-size: large;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons span,
i {
  font-size: 1.5rem;
  font-weight: bold;
}

.icons:hover {
  transition: all 0.3s ease;
  color: #007bff;
}

.icons p {
  font-size: 1rem;
}

.container_2 {
  max-width: 1200px;
  margin: auto;
  padding: 0.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
    & a{
      text-decoration: none;
      color: #000000;
  }
}

.nav-links_2 {
  list-style: none;
  display: flex;
  /* gap: 2rem; */
  align-items: center;
}

.nav-links_2 li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.icons i {
  font-weight: bold;
  margin-top: 0.3rem;
}

/* main container */
.main_container {
  height: fit-content;
  width: 100%;
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
}

/* filters */
.filters {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
  }

  & a:hover {
    color: #007bff;
  }
}

.filter:hover {
  color: #007bff;
  cursor: pointer;
  border-bottom: #007bff 2px solid;
}

.filter i {
  font-size: 1.5rem;
}

.filter p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;

  & a {
    text-decoration: none;
  }
}

/* lists */

.list_link {
  text-decoration: none;
}

.lists {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 0.5rem;
  gap: 1rem;
  margin-bottom: 8rem;
}

.list {
  /* margin-left: 1rem; */
  width: 23rem;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  padding-bottom: 1rem;

  & p {
    overflow: hidden;
  }
}

.list_img {
  width: 100%;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.list_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.list_text {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: start;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
}

.list_name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
  text-align: start;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
}

.list_description {
  font-size: 0.8rem;
  color: #666;
  text-align: start;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}

.list_price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-align: start;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
}

.list_rating {
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;

  & img {
    width: 8rem;
    height: 2rem;
    margin-right: 0.2rem;
  }
}

.list_Charges {
  font-size: 1rem;
  color: #666;
  text-align: start;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}

.Delivary {
  font-size: 1rem;
  color: green;
  text-align: start;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(1, 109, 1);
  text-align: start;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
}

/* list button */

.add_cart_btn {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_card_buttons button {
  width: 100%;
}

.list_btn_1 {
  margin: 10px;
  padding: 8px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  background-color: #0169d8;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 0.6rem;
  font-weight: bold;
  border: 2px solid gray;
}

.list_btn_2 {
  margin: 10px;
  padding: 8px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  background-color: #3894f7;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-size: 0.6rem;
  font-weight: bold;
  border: 2px solid gray;
}

.list_btn_1:hover {
  background-color: #ebd514;
  color: black;
}

.list_btn_2:hover {
  background-color: #ebd514;
  color: black;
}

/* DESKTOP DROPDOWN STYLES */
@media (min-width: 700px) {
  .dropdown-menu {
    position: absolute;
    top: 72%;
    right: 21%;
    min-width: 160px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: all 0.3s ease;
    list-style: none;
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .dropdown-menu li a {
    padding: 10px 15px;
    display: block;
    color: #333;
  }

  .dropdown-menu li a:hover {
    background-color: #f0f0f0;
    color: #007bff;
  }
}

.Add_product_container {
  background-color: #fff;
  max-width: 850px;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 70px;

  & .alert_add_product {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin: 1rem 0;
  }

  & h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
  }

  & hr {
    margin: 1.5rem 0;
    border: 1px solid #ccc;
  }
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: #444;
}

input,
textarea {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 0.8rem;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .form-container {
    padding: 1rem;
  }
}

#add_product_catagory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.not_found_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55vh;
  font-size: 2.5vmax;
}

.not_found {
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* notification */

.notification {
  background-color: #63cfa4;
  color: #0f5132;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  width: fit-content;
  margin: 20px auto;
  border: 1px solid #badbcc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  z-index: 999;
  transition: all 0.3s ease-out;
}

.notification strong {
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #0f5132;
  cursor: pointer;
  /* margin-left: 20px; */
  width: 35px;
  height: 35px;
  border-radius: 25px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close_btn {
  color: #179c5e;
  transition: 0.5s;
  margin-left: 10px;
}
.close_btn:hover {
  color: #0f5132;
}

.notification_error {
  background-color: rgb(228, 102, 102);
  color: rgb(110, 17, 17);
}

.notification_error_btn {
  color: rgb(182, 19, 19);
}
.notification_error_btn:hover {
  color: rgb(110, 17, 17);
}
