<% layout("./layout/boilerplate") %>
<div class="main_container">
    <div class="show_card_container">
    <div class="show_card">

      <h1 class="show_card_heading"><%= productData.name %></h1>

      <div class="show_card_img">
        <img
          src="<%= productData.image.url %>"
          alt="" />
      </div>

      <div class="show_card_text">

        <h2 class="show_card_name">Owner by -<span> Maaz</span></h2>
        
        <p class="show_card_description"><b style="color: black; font-weight: 600;">Description</b> - <span><%= productData.description %></span></p>

        <p class="show_card_price">M.R.P - <span class="price"><%= productData.price %>$ </span></p>

        <div class="show_card_options">
        <div>
          <label class="Delivary_show_card_1 " for="Delivary_show_card_1">Quantity:-</label>
        <select name="Delivary_show_card_1" class="show_slide_1" id="cars">
          <option value="volvo select_show" class="show_slide_1">Volvo</option>
          <option value="saab" class="show_slide_1">Saab</option>
          <option value="mercedes" class="show_slide_1">Mercedes</option>
          <option value="audi" class="show_slide_1">Audi</option>
        </select>
        </div>

        <div>
        <label class="Delivary_show_card_2" for="Delivary_show_card_2">Delivary Options:- </label>
        <select name="Delivary_show_card_2" class="show_slide_1" id="cars">
          <option value="volvo" class="show_slide_1">Cash on delivary</option>
          <option value="saab" class="show_slide_1">Saab</option>
          <option value="mercedes" class="show_slide_1">Mercedes</option>
          <option value="audi" class="show_slide_1">Audi</option>
        </select>
        </div>       
        </div>

        <div class="show_card_rating">
          <p> Total Ratings :-</p>
          <img src="/starts2.png" alt="">
        </div>

        <div class="show_card_buttons">
          <button class="add_to_cart button-15">Add to Cart</button>
          <button class="buy_now button-15">Buy Now</button>
      </div>
    </div>
    <hr>
  </div>
</div>
</div>