<% layout('./layout/login_signup') -%>

<div class="login-box">
  <h2>Welcome To M.H Avenue</h2>
  <p>Please Sign up to continue</p>
  <form action="/signup" class="needs-validation" method="POST" novalidate>

    <input type="text" name="username" class="form-control" placeholder="Username" required />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please Enter the Username!</div>

    <input type="text" name="email" placeholder="Email" required />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please Enter Your Email!</div>

    <div class="password-field ">
      <input
        type="password"
        name="password"
        id="password"
        class="password_1 form-control"
        placeholder="Password"
        required
        class="form-control"
      />
      <span class="toggle-password" onclick="togglePassword()">👁️</span>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please Enter the Username!</div>
    </div>
    <div class="password-field">
      <input
        type="password"
        name="confirm_password"
        id="password"
        class="password_2"
        placeholder="Confirm Password"
        required
      />
      <span class="toggle-password" onclick="togglePassword()"></span>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please Enter the Username!</div>
    </div>
    <button type="submit">Login</button>
  </form>
  <div class="links">
    <a href="/login">Login</a>
    <a href="#">Seller signup</a>
  </div>
</div>
